body {
  background-image: url("C:\Users\nicole\OneDrive - National University of Ireland, Galway\college\year 4\Semester2\Final Year Project\newProject\ibs-system-api-front\public\background2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.box {
  display: flex;
  display: grid;
  /*might want to change this to account for smaller screens*/
  grid-template-columns: 65% 35%
}
.column{
  text-align: center;
  height: 100%;
  padding-top: 20%;
}
.submitRegistrationButton{
  background-color: #4da6ff;
  color: white;
  padding: 5px 66px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}