body {
  background-image: url("C:\Users\nicole\OneDrive - National University of Ireland, Galway\college\year 4\Semester2\Final Year Project\newProject\ibs-system-api-front\public\background2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
