body {
  background-image: url("C:\Users\nicole\OneDrive - National University of Ireland, Galway\college\year 4\Semester2\Final Year Project\newProject\ibs-system-api-front\public\background2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.loggingBox {
  width: 96%;
  height: 96%;
  padding: 2%;
}

.loggingBox .row2 {
  margin-top: 20px;
}


.box {
  display: flex;
  display: grid;
  /*might want to change this to account for smaller screens*/
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
}

.buttonSpace {
  margin: 0 27px;
}
.loggingButtonsContainer {
  background-color: "#8CD9CF";
  border-radius: 25px;
  opacity: 80%
}
.circular {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4da6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  color: white;
  border-width: 10px;
  font-weight: bold;
}
.loggingButton {
  background-color: white;
  border-radius: 25px;
  width: 90vh;
  height: 10.5vh;
  font-size: larger;
  border-color: white;
  font-weight: bold;
  cursor: pointer;
}
.column{
  text-align: center;
  height: 100%;
  padding-top: 20%;
}
.submitRegistrationButton{
  background-color: #4da6ff;
  color: white;
  padding: 5px 66px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.react-calendar {
  width: 20%;
  height: 50%;
  max-width: 100%;
  background: white;
  border-radius: 25px;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
  line-height: 1.125em;
  opacity: 85%;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}
.react-calendar__navigation {
  display: flex;
  height: 25%;
  margin-bottom: 2%;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  background: none;
  text-align: center;
  line-height: 100%;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #8CD9CF;
  border-radius: 5px;
}
.react-calendar__tile--now {
  background: #4da6ff;
  border-radius: 5px;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #4da6ff;
}
.react-calendar__tile--hasActive {
  background: #4da6ff;
}
